body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

.btn {
    border-radius: 0;
}

.text-good {
    color: #00bcd4;
}

.text-bad {
    color: #ff5722
}

#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}