<div class="modal fade" id="walletModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="w-100">View Crypto Wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Real wallet data is password protected. You can view
        <a class="text-dark" href="/wallet-fake"><u>Fake Data</u></a>
        if you do not have authorization.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-secondary" href="/wallet">Continue</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>