<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Luke's Crypto Wallet</title>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body style="overflow: hidden;">
  <h1 style="color: #3366cc; padding-left: 80px; margin-bottom: 15px; display:flex">
    <div id="btc_total" style="width: 50%;">{{ btc_balances[-1][1] }}BTC</div>
    <div id="zar_total" style="width: 50%; padding-left: 80px;">R{{ zar_balances[-1][1] }}</div>
  </h1>
  <div id="charts" style="display:flex;">
    <div id="btc_chart" style="width: 50%; height: 50vh"></div>
    <div id="zar_chart" style="width: 50%; height: 50vh"></div>
  </div>
  <h2 style="color: #3366cc; padding-left: 80px; margin-bottom: 15px;">RAW</h2>
  <div id="balances">
    <ul style="max-height: 25vh; overflow-y: scroll; padding: 5px 10px; margin: 0 70px; border: 2px solid #3366cc;">
      {% for line in balances %}
        {{ line }}
        <br>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    var btcData = {{ btc_balances|safe }},
      zarData = {{ zar_balances|safe }},
      btcChartData = [['Date', 'Balance']],
      zarChartData = [['Date', 'Balance']];
    for (i=0; i<btcData.length; i++) {
      btcChartData.push([new Date(btcData[i][0].split('-')), btcData[i][1]]);
    }
    for (i=0; i<zarData.length; i++) {
      zarChartData.push([new Date(zarData[i][0].split('-')), zarData[i][1]]);
    }


    function drawChart() {
      var btcData = google.visualization.arrayToDataTable(btcChartData);
      var zarData = google.visualization.arrayToDataTable(zarChartData);

      var btcOptions = {
        title: 'BTC Balance',
        legend: { position: 'bottom' },
        explorer: {maxZoomIn: 8.0}
      };

      var zarOptions = {
        title: 'ZAR Balance',
        legend: { position: 'bottom' },
        explorer: {maxZoomIn: 8.0}
      };
      var btcChart = new google.visualization.LineChart(document.getElementById('btc_chart'));
      var zarChart = new google.visualization.LineChart(document.getElementById('zar_chart'));

      btcChart.draw(btcData, btcOptions);
      zarChart.draw(zarData, zarOptions);
    }
  </script>
</body>
</html>
