{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="pl-4">
        <div id="zar_total" class="pb-5 {% if zar_diff >= 0 %}text-good{% else %}text-bad{% endif %}">
          {% if zar_diff >= 0 %}
            <i class="fa fa-arrow-up pr-3"></i>
          {% else %}
            <i class="fa fa-arrow-down pr-3"></i>
          {% endif %}
          R{{ zar_balances[-1][1] }} ({{ zar_diff }})
        </div>
        <div id="btc_total" class="{% if btc_diff >= 0 %}text-good{% else %}text-bad{% endif %}">
          {% if btc_diff >= 0 %}
            <i class="fa fa-arrow-up pr-3"></i>
          {% else %}
            <i class="fa fa-arrow-downpr-3"></i>
          {% endif %}
          {{ btc_balances[-1][1] }}BTC ({{ btc_diff }})
        </div>
      </h1>
      <div id="btc_charts" style="display:flex;">
        <div id="btc_chart"class="w-100"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-secondary pb-3">RAW</h2>
      <div id="balances">
        <ul class="border border-secondary" style="max-height: 25vh; overflow-y: scroll; padding: 5px 10px;">
          {% for line in balances %}
            {{ line }}
            <br>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    const btcData = {{ btc_balances|safe }},
      zarData = {{ zar_balances|safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/wallet.js') }}"></script>
{% endblock %}
